<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Botón para registrar un libro -->
  <ion-button expand="full" routerLink="/registrar-libro">
    Registrar Libro
  </ion-button>
  
  <!-- Lista de libros -->
  <ion-list>
    <ion-item *ngFor="let libro of publicaciones">
      <ion-thumbnail slot="start">
        <img loading="lazy" [src]="libro.fotoPublicacion || 'assets/img/default-book.png'" alt="{{ libro.titulo }}">
      </ion-thumbnail>
      
      <ion-label>
        <h2>{{ libro.titulo }}</h2>
        <ion-item lines="none">
          <ion-text color="medium">Publicado el: {{ libro.fechaPublicacion }}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text color="medium">Estado: {{ libro.estado }}</ion-text>
        </ion-item>
      </ion-label>      
      
      <ion-button fill="clear" slot="end" (click)="verDetalleLibro(libro)">
        <ion-icon name="eye" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
