<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-libro"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle del Libro</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Imagen del libro -->
  <ion-card>
    <ion-img [src]="libro.foto || 'assets/img/default-book.png'" alt="{{ libro.titulo }}"></ion-img>
  </ion-card>

  <!-- Detalles del libro -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ libro.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Sinopsis:</strong> {{ libro.sinopsis }}</p>
      <p><strong>Fecha de Publicación:</strong> {{ libro.fechaPublicacion }}</p>
      <p><strong>Categoría:</strong> {{ libro.categoriaFK }}</p>
      <p><strong>pdf:</strong> {{ libro.pdf }}</p>

      <!-- Botón para ver pdf -->
      <ion-button expand="block" color="primary" (click)="verPDF()">
        <ion-icon slot="start" name="document-outline"></ion-icon>
        Leer PDF
      </ion-button>      

      <!-- Botón para editar el libro, visible solo si el usuario es el propietario -->
      <ion-button *ngIf="idUsuario === libro.usuarioFK" expand="block" color="primary" (click)="editarLibro()">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Editar Libro
      </ion-button>

      <!-- Botón para agregar o quitar de favoritos -->
      <ion-button *ngIf="idUsuario !== libro.usuarioFK" expand="block" color="secondary" (click)="toggleFavorito()">
        <ion-icon slot="start" [name]="esFavorito ? 'heart' : 'heart-outline'"></ion-icon>
        {{ esFavorito ? 'Quitar de Favoritos' : 'Agregar a Favoritos' }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
