:root {
  /* Tema claro (y colores globales para ambos temas) */
  --ion-color-primary: #8B4513; /* Marrón madera */
  --ion-color-secondary: #D2B48C; /* Beige claro */
  --ion-color-tertiary: #A0522D; /* Marrón rojizo */
  --ion-color-light: #FFF8E7; /* Blanco cálido */
  --ion-color-dark: #5C4033; /* Marrón oscuro */

  /* Colores globales para botones */
  --button-background-color: #ffffff;
  --button-text-color: #333333;
  --button-border-radius: 6px;
  --button-hover-color: #f2f2f2;

  /* Fondos y texto por defecto */
  --ion-background-color: #F2F5FA;
  --ion-text-color: #2C3E50;
}

body.dark {
  /* Fondo oscuro */
  --ion-background-color: #000000; /* Fondo negro */
  --ion-text-color: #ffffff; /* Texto blanco para contraste */
 



}
