:root {
  /* Tema claro */
  --ion-color-primary: #8B4513; /* Marrón madera */
  --ion-color-secondary: #D2B48C; /* Beige claro */
  --ion-color-tertiary: #A0522D; /* Marrón rojizo */
  --ion-color-light: #FFF8E7; /* Blanco cálido */
  --ion-color-dark: #06111b; /* Marrón oscuro para texto en modo claro */

  /* Fondos y texto */
  --ion-background-color: #F2F5FA; /* Fondo claro */
  --ion-text-color: #06111b; /* Texto oscuro para modo claro */

  /* Colores de botones */
  --button-background-color: #ffffff;
  --button-text-color: #333333;
  --button-border-radius: 6px;
  --button-hover-color: #f2f2f2;
}
