<ion-header>
  <ion-toolbar>
    <ion-title class="title-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-background">
  
  <!-- Logo relacionado con libros y cómics -->
  <div class="logo-container">
    <img src="assets/img/comic-books.png" alt="Logo Cómics" class="logo">
  </div>

  <!-- Formulario de inicio de sesión -->
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">

    <ion-item lines="full">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
      <ion-text color="danger">Correo inválido</ion-text>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
      <ion-text color="danger">Contraseña inválida</ion-text>
    </div>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="login-button">
      Iniciar Sesión
    </ion-button>
  </form>

  <!-- Opción de registro -->
  <div class="register-container">
    <ion-text>
      ¿No tienes cuenta? <a (click)="goToRegister()">Regístrate aquí</a>
    </ion-text>
  </div>

</ion-content>
