<ion-content class="ion-padding login-background">
  <!-- Título del formulario -->
  <h1 class="page-title">Iniciar Sesión</h1>

  <!-- Logo -->
  <div class="logo-container">
    <ion-img src="../../../assets/img/darklit.png" alt="Logo" class="logo"></ion-img>
  </div>

  <!-- Formulario de inicio de sesión -->
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">
    <ion-item lines="full">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" color="danger">
      Correo inválido
    </ion-text>
    <ion-text *ngIf="errorMessages.email" color="danger">{{ errorMessages.email }}</ion-text>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" color="danger">
      Contraseña inválida
    </ion-text>
    <ion-text *ngIf="errorMessages.password" color="danger">{{ errorMessages.password }}</ion-text>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="login-button">
      Iniciar Sesión
    </ion-button>
  </form>

  <!-- Opciones de registro y recuperación -->
  <div class="register-container">
    <p>
      ¿No tienes cuenta? <a (click)="goToRegister()">Regístrate aquí</a>
    </p>
    <p>
      ¿Olvidaste tu Contraseña? <a (click)="goToRecover()">Recuperar aquí</a>
    </p>
  </div>
</ion-content>
