/* Botón de envio */
.send-button {
  --background: #ffc107; /* Amarillo cálido */
  --color: white;
  margin-top: 20px;
  border-radius: 8px;
  font-weight: bold;
  height: 50px;
}

ion-item {
  --background: transparent;
  margin-bottom: 15px;
}

ion-button {
  margin-top: 20px;
}

ion-textarea {
  height: 150px;
}

ion-icon.img {
  height: 120px;
  width: 120px;
}

.disfras{
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 20px !important;
}

#file-input {
  display: none;
}

ion-item {
  --padding-start: 15px;
  --padding-end: 15px;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}