<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Título -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recupera tu Contraseña</ion-card-title>
      <ion-card-subtitle>Ingresa tu correo para continuar.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Formulario para correo -->
      <form [formGroup]="emailForm" (ngSubmit)="enviar()">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <p *ngIf="emailForm.controls.email.invalid && emailForm.controls.email.touched" class="error-message">
          {{ getCorreoMessage() }}
        </p>
        <ion-button class="send-button" expand="block" [disabled]="!emailForm.valid" type="submit">Enviar Correo</ion-button>
      </form>

      <!-- Mostrar pregunta y respuesta si el correo es válido -->
      <div *ngIf="pregunta">
        <ion-card-subtitle>Responde la siguiente pregunta de seguridad:</ion-card-subtitle>
        <form [formGroup]="respuestaForm" (ngSubmit)="enviarRespuesta()">
          <!-- Selector para la pregunta -->
          <ion-item>
            <ion-select formControlName="pregunta" placeholder="Selecciona una pregunta">
              <ion-select-option *ngFor="let pregunta of preguntasSeguridad" [value]="pregunta">
                {{ pregunta }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        
          <!-- Campo para la respuesta -->
          <ion-item>
            <ion-label position="floating">Respuesta</ion-label>
            <ion-input formControlName="respuesta"></ion-input>
          </ion-item>
        
          <!-- Validaciones de error -->
          <p *ngIf="respuestaForm.controls.pregunta.invalid && respuestaForm.controls.pregunta.touched" class="error-message">
            Selecciona una pregunta de seguridad.
          </p>
          <p *ngIf="respuestaForm.controls.respuesta.invalid && respuestaForm.controls.respuesta.touched" class="error-message">
            La respuesta es obligatoria.
          </p>
          <p class="error-message" *ngIf="respuestaError">{{ respuestaError }}</p>
        
          <!-- Botón para enviar -->
          <ion-button class="send-button" expand="block" [disabled]="!respuestaForm.valid" type="submit">Enviar Respuesta</ion-button>
        </form>        
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
