/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Estilo global para la tipografía */
body, ion-content, ion-card, ion-item, ion-button {
  font-family: "Georgia", serif;
  font-weight: bold; /* Todo el texto en negrita */
}

/* Fondo y texto en modo claro */
body {
  --ion-background-color: #f9f9f9; /* Fondo claro */
  --ion-text-color: #2C3E50; /* Texto oscuro */
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold; /* Negrita para el texto */
}

/* Estilo específico para componentes */
ion-header, ion-footer, ion-toolbar, ion-title {
  font-family: "Georgia", serif;
  font-weight: bold; /* Negrita */
}

/* Estilo para tarjetas */
ion-card {
  background-color: var(--ion-light); /* Fondo cálido */
  color: var(--ion-dark); /* Texto marrón oscuro */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo para botones */
ion-button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);
  font-weight: bold; /* Negrita en botones */

  &:hover {
    background-color: var(--button-hover-color);
  }
}

/* Sidebar (ion-menu) */
ion-menu {
  --ion-background-color: var(--ion-background-color);
  --ion-text-color: var(--ion-text-color);
}

/* Items dentro del sidebar */
ion-item {
  color: var(--ion-text-color);
}

/* Categoría select */
.categoria-select {
  color: #ffffff; /* Texto principal blanco */
}

.categoria-select ion-select-option {
  color: #ffffff !important; /* Opciones blancas */
}
