<app-sidebar></app-sidebar>
<ion-content>
  <ion-content class="ion-padding">
    <div class="catalog-container">
      <!-- Mostrar el chiste -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Chiste del día</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>{{ joke }}</p>
          <!-- Muestra el chiste aquí -->
        </ion-card-content>

        <!-- Botón para ver más chistes (puedes cambiarlo para cargar otro chiste) -->
        <ion-button expand="block" color="primary" (click)="ngOnInit()">
          Ver otro chiste
        </ion-button>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ng-container *ngFor="let libro of libros">
            <ion-col *ngIf="libro.estado === 'aprobado'" size="12" size-md="6" size-lg="4">
              <ion-card>
                <!-- Imagen del libro -->
                <img [src]="libro.foto" alt="Portada de {{ libro.titulo }}" class="book-cover" />

                <!-- Información del libro -->
                <ion-card-header>
                  <ion-card-title>{{ libro.titulo }}</ion-card-title>
                  <ion-card-subtitle>Autor: {{ libro.nombreAutor }} {{ libro.apellidoAutor
                    }}</ion-card-subtitle>
                  <ion-card-subtitle>Categoría: {{ libro.categoriaFK }}</ion-card-subtitle>
                </ion-card-header>

                <!-- Sinopsis -->
                <ion-card-content>
                  <p>{{ libro.sinopsis | slice: 0: 100 }}...</p>
                </ion-card-content>

                <!-- Botón para ver más -->
                <ion-button expand="block" color="primary" (click)="verDetalles(libro)">
                  Ver más
                </ion-button>
              </ion-card>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-content>