<app-sidebar></app-sidebar>

<ion-content class="ion-padding">
  <div class="catalog-container">
    <ion-grid>
      <ion-row>
        <!-- Usar ng-container para aplicar el *ngIf -->
        <ng-container *ngFor="let libro of libros">
          <ion-col *ngIf="libro.estado === 'aprobado'" size="12" size-md="6" size-lg="4">
            <ion-card>
              <img [src]="libro.foto" alt="Portada de {{ libro.titulo }}" class="book-cover"/>
              <ion-card-header>
                <ion-card-title>{{ libro.titulo }}</ion-card-title>
                <ion-card-subtitle>{{ libro.categoriaFK }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>{{ libro.sinopsis | slice:0:100 }}...</p>
              </ion-card-content>
              <ion-button expand="block" color="primary" (click)="verDetalles(libro)">
                Ver más
              </ion-button>
            </ion-card>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
